body {
    background-color: #F3F7FA;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    font-family: 'Open Sans';
}

.app {}

.logo {
    display: flex;
    justify-content: center;
    margin: 35px 0 25px 0;
}

.main-content {
    display: flex;
    margin: 0 auto;
    width: fit-content;
    gap: 20px;

    @media screen and (max-width:500px) {
        flex-direction: column;
    }
}

.container {
    width: fit-content;
    min-width: 400px;
}