.ticket-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 500px) {
  .ticket-list {
    align-items: center;
  }
}

.more-tickets {
  height: 50px;
  text-transform: uppercase;
}